@import "tailwindcss";
@import "@nuxt/ui-pro";

@source "../../../content/**/*";

@theme static {
  --font-sans: 'Public Sans', sans-serif;

  --color-green-50: #EFFDF5;
  --color-green-100: #D9FBE8;
  --color-green-200: #B3F5D1;
  --color-green-300: #75EDAE;
  --color-green-400: #00DC82;
  --color-green-500: #00C16A;
  --color-green-600: #00A155;
  --color-green-700: #007F45;
  --color-green-800: #016538;
  --color-green-900: #0A5331;
  --color-green-950: #052E16;

  --color-rx-50: #FEDDE9;
  --color-rx-100: #FCBAD3;
  --color-rx-200: #FA76A6;
  --color-rx-300: #F7317A;
  --color-rx-400: #D80955;
  --color-rx-500: #95063B;
  --color-rx-600: #76052E;
  --color-rx-700: #580423;
  --color-rx-800: #3B0217;
  --color-rx-900: #1D010C;
  --color-rx-950: #0F0106;
}
